<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.PTUproj.dto.MemberDTO" alias="member"></typeAlias> <!--Alias가 별칭을 지정해서 코드 작성을 간소화 해준다고 생각하면 될 듯..? -->
    </typeAliases>

</configuration>