<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "ItemMapper">

    <!--상품 등록하기 위한 insert 쿼리문-->
    <insert id="insertProduct" parameterType="com.PTUproj.dto.ItemDTO">
        insert into TEST.product_table (product_name, product_img1, product_img2, product_description, product_price, category_id, member_id)
        values (#{productName}, #{productImg1}, #{productImg2}, #{productDescription}, #{productPrice}, #{categoryId}, (select member_id from member_table where member_email = #{memberEmail}))
    </insert>

    <!--등록된 상품 검색을 위한 select문(product_table, member_table, category_table - inner join)-->
    <select id="selectProductBySearch" resultType="com.PTUproj.dto.ItemDTO" parameterType="com.PTUproj.dto.ItemDTO">
        SELECT p.product_id AS productId,
               p.product_name AS productName,
               p.product_img1 AS productImg1,
               p.product_img2 AS productImg2,
               p.product_description AS productDescription,
               p.product_price AS productPrice,
               p.product_date AS productDate,
               p.category_id AS categoryId,
               m.member_id AS memberId,
               m.member_email AS memberEmail,
               c.CATEGORY_NAME AS categoryName
        FROM product_table p, member_table m , category_table c
        WHERE p.member_id = m.member_id and p.category_id = c.category_id and p.product_name LIKE '%' || #{productName} || '%'
        ORDER BY p.product_id DESC
    </select>


        <resultMap id="ItemResultMap" type="com.PTUproj.dto.ItemDTO">
            <result column = "product_id" property = "productId" />
            <result column = "product_name" property = "productName" />
            <result column = "product_img1" property = "productImg1" />
            <result column = "product_img2" property = "productImg2" />
            <result column = "product_img3" property = "productImg3" />
            <result column = "product_description" property = "productDescription" />
            <result column = "product_price" property = "productPrice" />
            <result column = "product_date" property = "productDate" />
            <result column = "category_id" property = "categoryId" />
            <result column = "member_id" property = "memberId" />
            <result column = "member_email" property = "memberEmail" />
        </resultMap>

</mapper>